a.a {
    position: absolute;
    font-size: 30px;
    top: 55px;
    left: 65px;
    cursor: pointer;
}

a.a:link {
    text-decoration: none;
    color: #ea5045;
}

a.a:hover {
    opacity: 0.8;
}

#logo {
    width: 200px;
    height: auto;
    padding-top: 80px;
}

#arrow {
    width: 120px;

}

#dots {
    width: 100px;
    padding-top: 15px;
}

.work {
    position: absolute;
    top: 150px;
    width: 470px;
}

.profile {
    position: absolute;
    top: 150px;
    width: 377px;
    left: 100px;
}

.mail {
    width: 35px;
    padding-top: 2px;
}

.arrow {
    width: 50px;
}

.phone {
    width: 17px;
    padding-top: 5px;
}

.linkedin {
    width: 35px;
    padding-top: 3px;
}

.facebook {
    width: 28px;
    padding-top: 3px;
}

.img1 {
    width: 275px;
    position: absolute;
    top: 780px;
}

.img2 {
    width: 190px;
    position: absolute;
    top: 780px;
    left: 285px;
}

.img3 {
    width: 460px;
    position: absolute;
    top: 970px;
    left: 15px;

}

#sec {
    display: none;
}

#sect {
    display: none;
}

.emmacv {
    position: absolute;
    top: 100px;
    left: 44px;
    width: 400px;

}

.cross1 {
    position: absolute;
    width: 40px;
    top: 20px;
    left: 430px;
    cursor: pointer;
}

.cross1:hover {
    opacity: 0.8;
}

.black {

    background-color: black;
    position: absolute;
    width: 470px;
    height: 1310px;
    opacity: 0.5;
}

.call {
    position: absolute;
    top: 300px;
    left: 95px;
    border: 1px solid;
    background-color: white;
    width: 300px;
    height: 150px;
}

* {
    font-family: helvetica neue;
}

h2.choose {
    padding-top: 70px;
}

h2.chooose {
    padding-top: 90px;
}

h2.more {
    font-size: 30px;
    color: #ea5045;
}

h1 {
    width: 300px;
    line-height: 35px;
    letter-spacing: 2px;
}

h1.last {
    position: absolute;
    top: 120px;
    font-size: 70px;
    line-height: 80px;
}

.name {
    position: absolute;
    top: 390px;
    left: 100px;
    font-size: 30px;
}

.caption {
    position: absolute;
    top: 450px;
    left: 330px;
}


.white {
    width: 300px;
    color: white;
}

.red {
    color: #ea5045;
    padding-top: 80px;
}

p {
    width: 450px;
    line-height: 20px;
}

.description {
    position: absolute;
    top: 550px;
}

.description2 {
    position: absolute;
    top: 500px;
}

.creator {
    position: absolute;
    top: 700px;
    left: 280px;
}

#people {
    width: 400px;
    height: auto;
    padding-left: 100px;

}

.line {
    border-bottom: 3px solid black;
    width: 30px;

}

#btn1 {
    background-color: #ea5045;
    width: 350px;
    height: 80px;
    position: absolute;
    top: 620px;
    left: 0;
    border: none;
}

#btn2,
#btn3 {
    background-color: #ea5045;
    width: 200px;
    height: 60px;
    border: none;
    position: absolute;
    left: 268px;
}

#btn4 {
    text-align: inherit;
    padding-left: 90px;
    background-color: #ea5045;
    width: 200px;
    height: 60px;
    border: none;
    position: absolute;
    left: 268px;
}

#open {
    text-align: inherit;
    font-size: 20px;
    background-color: black;
    width: 98px;
    height: 30px;
    border: none;
    color: white;
}

.search {
    position: absolute;
    top: 500px;
    left: 270px;
    width: 200px;
    height: 50px;
    text-align: right;
    border: none;
}

.o1 {
    position: absolute;
    left: 202px;
    top: 140px;
}

.o2 {
    position: absolute;
    left: 242px;
    top: 140px;
}

button#back {
    position: absolute;
    top: 80px;
    width: 200px;
    height: 50px;
    text-align: left;
    border: none;
}

button:hover {
    opacity: 0.8;
}

button {
    cursor: pointer;
}

#open:hover {
    background-color: #ea5045;
}

button:active,
button:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.send {
    text-align: right;
    background-color: #ea5045;
    width: 155px;
    height: 45px;
    border: none;
    position: absolute;
    left: 322px;
    top: 650px;
    color: white;
    font-size: 17px;
}

#profile {
    text-align: inherit;
    padding-left: 90px;
    font-size: 15px;
    background-color: #ea5045;
    width: 200px;
    height: 30px;
    border: none;
    position: absolute;
    top: 750px;
    left: 275px;
    color: white;
}

#message {
    text-align: inherit;
    padding-left: 62px;
    font-size: 15px;
    background-color: #223249;
    width: 200px;
    height: 30px;
    border: none;
    position: absolute;
    top: 790px;
    left: 275px;
    color: white;
}

#ymail {

    width: 150px;
    height: 25px;
    padding-top: 5px;
    padding-right: 5px;
    text-align: right;
    position: absolute;
    left: 320px;
    top: 150px;
}

#subject {

    width: 150px;
    height: 25px;
    padding-top: 5px;
    padding-right: 5px;
    text-align: right;
    position: absolute;
    left: 320px;
    top: 250px;
}

input.box {
    display: none;
}

label {
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    display: block;
    position: relative;
    text-align: center;
    width: 400px;
    height: 25px;
    font-size: 20px;
    margin: 0px;
    padding: 15px 30px 15px;
    color: #fff;
    background-color: #223249;
}

label:hover {
    opacity: 0.9;
}


input.box[type=checkbox]:checked + label {
    background-color: #ea5045;
    font-style: normal;
}

.subject {
    width: 253px;
    height: 25px;
    position: absolute;
    top: 320px;
    left: 220px;
    border: 1px solid;
    font-size: 15px;
}

.ymail {
    width: 253px;
    height: 25px;
    position: absolute;
    top: 220px;
    left: 220px;
    border: 1px solid;
    font-size: 15px;
}

textarea {
    box-sizing:content-box;
    width: 373px;
    height: 25px;
    padding-bottom: 200px;
    position: absolute;
    top: 373px;
    left: 100px;
    border: 1px solid;
    font-size: 15px;
}



#works {
    border: 1px solid;
    width: 150px;
    height: 30px;
    padding-top: 10px;
    padding-right: 5px;
    text-align: right;
    position: absolute;
    left: 320px;
    top: 70px;
}

#portfolio {
    border: 1px solid;
    width: 150px;
    height: 30px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    position: absolute;

    top: 700px;
}

#square1 {
    background-color: #ea5045;
    height: 200px;
    width: 30px;
    position: absolute;
    top: 150px;
}

.square1 {
    transform: rotate(-90deg);
    color: white;
    position: absolute;
    top: 70px;
    left: -63px;
}

#square2 {
    background-color: #ea5045;
    height: 200px;
    width: 30px;
    position: absolute;
    top: 370px;
}

.square2 {
    transform: rotate(-90deg);
    color: white;
    position: absolute;
    top: 70px;
    left: -19px;
}

#square3 {
    background-color: #ea5045;
    height: 200px;
    width: 30px;
    position: absolute;
    top: 590px;
}

.square3 {
    transform: rotate(-90deg);
    color: white;
    position: absolute;
    top: 70px;
    left: -55px;
}

/* Slideshow container */
.slideshow-container1 {
    width: 300px;
    position: absolute;
    top: 150px;
    left: 120px;

}

.slideshow-container2 {
    width: 340px;
    position: absolute;
    top: 375px;
    left: 100px;

}

.slideshow-container3 {
    width: 340px;
    position: absolute;
    top: 595px;
    left: 100px;

}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlide {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    position: absolute;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Fading animation */
.fade {

    animation-name: fade;
    animation-duration: 2s;
}


@keyframes fade {
    from {
        opacity: .4;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}


#line1 {
    background-color: black;
    width: 465px;
    border-top: 2px dashed black;
    color: #fff;
    background-color: #fff;


}

.first {
    position: absolute;
    top: 360px;
}

.second {
    position: absolute;
    top: 580px;
}

#line2 {
    background-color: black;
    width: 265px;
    border-top: 2px dashed black;
    color: #fff;
    background-color: #fff;
    position: absolute;
    top: 550px;

}

#line3 {
    background-color: black;
    width: 200px;
    border-top: 2px dashed black;
    color: #fff;
    background-color: #fff;
    position: absolute;
    top: 700px;
    left: 270px;

}

#line4 {
    background-color: #ea5045;
    width: 373px;
    border-top: 2px dashed #ea5045;
    color: #fff;
    background-color: #fff;
    position: absolute;
    top: 460px;
    left: 100px;
}

.pbtn {

    background-color: #223249;
    color: white;
    width: 50px;
    height: 45px;
    font-size: 15px;
}

#facebook {
    position: absolute;
    top: 640px;
    left: 427px;
}

#linkedin {

    position: absolute;
    top: 640px;
    left: 367px;
}

#phone {

    position: absolute;
    top: 640px;
    left: 307px;
}

#mail {

    position: absolute;
    top: 640px;
    left: 247px;
}

#CV {

    position: absolute;
    top: 640px;
    left: 187px;
}
